################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/5f40aece-2226-45d8-b144-b5e6da2a2f4f.vsidx
