################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/5f40aece-2226-45d8-b144-b5e6da2a2f4f.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/7743f2f4-ceed-4363-8474-66c7ff54b18b.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/44625202-15b1-41c7-a496-190d333ad0e9.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/9fe96128-a622-4894-95f4-2bee4aebf523.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/bdbacbf6-a260-4c3c-aefc-8397708b268c.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/3d01e00a-814c-4d65-93a8-7bf20aa50f27.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/0cbc8878-40b4-4c27-ad6b-e1d4a6355f31.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/4d7a89d1-20b9-445e-8093-b23f1f6e4f9b.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/92a469c1-e22a-4340-b03b-064b06d7d2fd.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/9d0ab6cb-deeb-431e-96b0-4c0c32aac67a.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/a7534d9f-b9d9-48d4-9314-5407ec8f265f.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/32ecbd3b-fcd6-4787-a6c9-34d496ef76af.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/f1779660-3fea-4a7d-8339-b4aa7b3d4d04.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/f6618079-4468-4e87-b168-c4e077dd10f1.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/38231f17-1b5d-4d56-8102-5129cbb24425.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/v17/.suo
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/2ea2a1cd-8c2d-492e-aa19-9059e11707cc.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/45c6639d-ddef-41ca-a130-933088adaf2f.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/53dad9f2-6011-4028-a00c-9b6136081122.vsidx
/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/e7ed772a-9dec-493c-b6c3-f837e069c967.vsidx
