################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_ADDONPERU_INSTALADOR/FileContentIndex/*
/.vs/STR_ADDONPERU_INSTALADOR/v17/.suo
/.vs/STR_ADDONPERU_INSTALADOR/v17/.suo
/STR_ADDONPERU_INSTALADOR/STR_ADDONPERU_INSTALADOR/obj/Debug/Interop.SAPbobsCOM.dll
/STR_ADDONPERU_INSTALADOR/STR_ADDONPERU_INSTALADOR/obj/Debug/Interop.SAPbouiCOM.dll
/STR_ADDONPERU_INSTALADOR/STR_ADDONPERU_INSTALADOR/obj/x86/Debug/Interop.SAPbobsCOM.dll
/STR_ADDONPERU_INSTALADOR/STR_ADDONPERU_INSTALADOR/obj/x86/Debug/Interop.SAPbouiCOM.dll
/STR_ADDONPERU_INSTALADOR/STR_ADDONPERU_INSTALADOR/obj/x64/Debug/Interop.SAPbobsCOM.dll
/STR_ADDONPERU_INSTALADOR/STR_ADDONPERU_INSTALADOR/obj/x64/Debug/Interop.SAPbouiCOM.dll
/STR_ADDONPERU_INSTALADOR/STR_ADDONPERU_INSTALADOR/bin/x64/Debug/Logs/*
/STR_ADDONPERU_INSTALADOR/bin/x64/Debug/Logs/*
/STR_ADDONPERU_INSTALADOR/STR_ADDONPERU_INSTALADOR/obj/x64/DebugInterop.SAPbobsCOM.dll
