CREATE PROCEDURE RML_PT_CL_20_ENTRADAMERCANCIA
(
    @id NVARCHAR(50),
    @transaction_type NVARCHAR(1)
)
AS
BEGIN
    -- Variable de retorno para POSTRANSAC

    -- Aquí puedes añadir la lógica específica de tu procedimiento almacenado.
    -- Ejemplo:
    -- IF @transaction_type IN ('A', 'U')
    -- BEGIN
    --     -- Lógica para los tipos de transacción 'A' y 'U'
    -- END
    --
    -- IF @transaction_type = 'C'
    -- BEGIN
    --     -- Lógica para el tipo de transacción 'C'
    -- END
	SELECT ''
END
