CREATE PROC STR_SP_LOC_AgruparLineasEAR
@DOCENT INT,
@CODPRV VARCHAR(20),
@TPODOC VARCHAR(20),
@SREDOC VARCHAR(20),
@CORDOC VARCHAR(50)
AS
DECLARE @LINEAS VARCHAR(MAX)
SELECT @LINEAS = ISNULL(@LINEAS,'') + CONVERT(VARCHAR(5),LineId) + ','  FROM [@STR_EARCRGDET] T0 INNER JOIN [@STR_EARCRG] T1 ON T0.DocEntry = T1.DocEntry
WHERE T1.DocEntry = @DOCENT AND U_ER_CDPV = @CODPRV AND U_ER_TDOC = @TPODOC  AND U_ER_SDOC = @SREDOC  AND U_ER_CDOC = @CORDOC AND U_ER_SLCC = 'Y'
SELECT LEFT(@LINEAS,LEN(@LINEAS)-1) AS Rows