CREATE PROC STR_SP_LOC_Create_OPCH_XML --5,1
@DOCENTRY VARCHAR(10),
@LINEAS VARCHAR(MAX),
@NMBTBL VARCHAR(50)
AS
DECLARE @TXTOPCH VARCHAR(MAX)
DECLARE @TXTPCH1 VARCHAR(MAX)
DECLARE @OBJXML VARCHAR(MAX)

SELECT @TXTOPCH = ISNULL(@TXTOPCH,'') + CASE TypeID WHEN 'D' THEN  'CONVERT(VARCHAR(10),U_' + AliasID + ',112)'ELSE 'U_'+ AliasID END + ' AS ' 
+ SUBSTRING(Descr,CHARINDEX('_',Descr,0)+1,LEN(Descr)) + ',' FROM CUFD WHERE TableID = ''+@NMBTBL+'' AND LEFT(Descr,4) = 'OPCH'
SET @TXTOPCH = 'SELECT TOP 1 ' + SUBSTRING(@TXTOPCH,1,LEN(@TXTOPCH)-1) + ' FROM ['+@NMBTBL+'] WHERE DocEntry ='''
+ @DOCENTRY + ''' AND LineId IN (' + @LINEAS + ')' 

SELECT @TXTPCH1 = ISNULL(@TXTPCH1,'') + CASE TypeID WHEN 'D' THEN  'CONVERT(VARCHAR(10),U_' + AliasID + ',112)'ELSE 'U_'+ AliasID END + ' AS ' 
+ SUBSTRING(Descr,CHARINDEX('_',Descr,0)+1,LEN(Descr)) + ',' FROM CUFD WHERE TableID = ''+@NMBTBL+'' AND LEFT(Descr,4) = 'PCH1'
SET @TXTPCH1 = 'SELECT ' + SUBSTRING(@TXTPCH1,1,LEN(@TXTPCH1)-1) + ' FROM ['+@NMBTBL+']WHERE DocEntry ='''
+ @DOCENTRY + ''' AND LineId IN (' + @LINEAS + ')'  

SET @OBJXML = '
SELECT 
CONVERT(TEXT,(
SELECT
	(SELECT 
		(SELECT 18 AS Object FOR XML PATH(''AdmInfo''),TYPE),
		(SELECT
			('+ @TXTOPCH + ' FOR XML PATH(''row''),TYPE)
		FOR XML PATH(''''),TYPE,ROOT(''OPCH'')), 
		(SELECT
			('+ @TXTPCH1 + ' FOR XML PATH(''row''),TYPE)
		FOR XML PATH(''''),TYPE,ROOT(''PCH1'')) 
	FOR XML PATH(''''),ROOT(''BO''),TYPE)
FOR XML PATH(''''),ROOT(''BOM''))) AS XMLOBJ'

EXEC(@OBJXML)



























